

* Navbar: 
    * Main ✓
    * Search ✓
    * About ✓
    - Not Logged in user:
        * Login ✓
        * Register ✓
        * Hello guest message ✓
    - Logged in user:
        * Name message ✓
        * Personal dropdown: 
            * myFavoriteRecipes ✓
            * my recipes ✓
            * myFamilyRecipes ✓
        * Create My Recipe Button 
        * Logout Button ✓

* About
    * Links to prev assignments ✓
    * About us Section ✓

* Register
    * all user inputs ✓
        - Countries dropdown ✓
    * Input validation  

* Login 
    - User login validation ✓

* Main 
    2 Columns: 
        Left Col:
            - Title: Explire this recipes ✓
            - 3 random recipes.  ✓
            - Button: Generate new 3 recipes
        Right Col:
            For Logged Users:
                -  3 Last watched recipes ✓
            For not Logged:
                - Login Page ✓

* Recipe Page
    - Recipe Details ✓
    - Recipe Image ✓

* Recipe Preview Requirements: 
    - data ✓
    - watched indication 
    - favorites indication
    - design the image to be evidently clickable 

* Search Page
    - Search input field ✓
    - Search button ✓
    - Last search for a logged in user, None for not logged 
    - Results number choice: 5/10/15 ✓
    - Filters dropdown: 
        * cuisine ✓
        * Diet ✓
        * intolerance ✓
    - Results: Recipe Preview array ✓
    - Sort by buttons: Preparation time, Popularity 
    - Not found message 

*Add New MyRecipe - Modal Window:
    - Form to input recipe info 
    - Add button 

* My favorites Page
    - Recipe Preview array ✓

* My Recipes Page
    - Recipe Preview array ✓

* My FamilyRecipes Page
    for 2 specific users(fot testing purposes):
        - 3 family recipes ✓ 



            

